{% extends "base2.html" %}

{% block title %}Witamy{% endblock %}

{% block body %}

<main>
	
	<section>
	
		<div class="container col-11 col-lg-8 text-center mt-5">
			
			<header class="mb=5">
				<h3 class="h4 mt-4"><b>{{current_user.name}}</b> witaj w aplikacji Never Broke Again! </h3>
			</header>
	
		
			<p>Odmień swoje życie i zacznij dbać o swój budżet już dziś!</p>
			<p>Wybierz interesującą opcję z menu i zacznij drogę do spełniania marzeń.</p>
		

		</div>
		
	</section>
	
</main>

{% endblock %}
