{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<body>

	<div class="container col-11 col-lg-6 col-xl-4 text-center">

		<div class="row">
								
			<header style="width: 100%" class="text-center">

				<h1 class="h4" style="margin-top:45px;"> Resetowanie hasła </h1>

			</header>
			
			<span class="menu-span mb-5">
				Link jest nieprawidłowy lub wygasł, proszę kliknij <a href="/password/forgot">tutaj</a> aby otrzymać nowy.
			</span>
				
		</div>

	</div>

</body>

{% endblock %}
